npm-debug.log
node_modules
token.js
storage/
source/
test/destination/ignore/real_ignore/should_be_copied.txt
test/destination/ignore/should_be_copied.txt
test/destination/should_be_copied.txt
test/bkp/deploy-*
